.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.shadow-1-hover:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: box-shadow .3s;
}

.shadow-2-hover:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px 0px rgba(0,0,0,0.22);
  transition: box-shadow .3s;
}

.shadow-3-hover:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 6px 20px 5px rgba(0, 0, 0, 0.23);
  transition: box-shadow .3s;
}

.shadow-4-hover:hover {
  box-shadow: 0 14px 28px 10px rgba(0, 0, 0, 0.25), 0 10px 10px 10px rgba(0, 0, 0, 0.22);
  transition: box-shadow .3s;
}

.shadow-5-hover:hover {
  box-shadow: 0 14px 28px 10px rgba(0, 0, 0, 0.25), 0 10px 10px 10px rgba(0, 0, 0, 0.22);
  transition: box-shadow .3s;
}